.env
.vscode/
drone/database.sqlite
node_modules
packages
package.json
package-lock.json
__pycache__/
.DS_Store
databaseCourse/elements/pl-sql-element/SQLElementSharedLibrary/__pycache__/textDatabaseHandler.cpython-311.pyc
databaseCourse/elements/pl-sql-element/SQLElementSharedLibrary/__pycache__/__init__.cpython-311.pyc
databaseCourse/elements/pl-sql-element/SQLElementSharedLibrary/__pycache__/SQLAutogenerator.cpython-311.pyc
databaseCourse/elements/pl-sql-element/pl_package/__pycache__/prairielearn.cpython-311.pyc
databaseCourse/elements/pl-sql-element/__pycache__/sql_element_test.cpython-311.pyc
databaseCourse/elements/pl-sql-element/__pycache__/pl_sql_element.cpython-311.pyc
databaseCourse/elements/pl-sql-element/__pycache__/autogenerator_test.cpython-311.pyc
tests/ui/__pycache__/sample_test.cpython-311.pyc
databaseCourse/elements/pl-sql-element/SQLElementSharedLibrary/__pycache__/__init__.cpython-36.pyc
