<!--Begining-->
<div id="question">
    {{questionText}}
</div>

<div id="database" value="{{database}}" class="flex-container">

</div>

<div id="relax_input">
    

    {{! this is where the relax editor will be placed}}
    <div class="editor-base">
        {{! These are the buttons for the tool bar}}
        <div class="toolbar codemirror-toolbar">
            <div id="popWrapper_i4m1hevx8hm" class="button"><span>π</span></div>
            <div id="popWrapper_zk54ccpfgr9" class="button "><span>σ</span></div>
            <div id="popWrapper_opmskf8udx" class="button "><span>ρ</span></div>
            <div id="popWrapper_vqmsrbz4lhh" class="button "><span>←</span></div>
            <div id="popWrapper_r4e8qivo9x" class="button "><span>→</span></div>
            <div id="popWrapper_rm8nadc63ta" class="button "><span>τ</span></div>
            <div id="popWrapper_yelfh6roevh" class="button "><span>γ</span></div>
            <div id="popWrapper_lv4upm1exe" class="button "><span>∧</span></div>
            <div id="popWrapper_wihrg7pw86c" class="button "><span>∨</span></div>
            <div id="popWrapper_mx0q4np8lms" class="button "><span>¬</span></div>
            <div id="popWrapper_iwcqg10p7gn" class="button "><span>=</span></div>
            <div id="popWrapper_qfox1fuq55" class="button "><span>≠</span></div>
            <div id="popWrapper_3ixqdjahm8v" class="button "><span>≥</span></div>
            <div id="popWrapper_tc2rsc59fbq" class="button "><span>≤</span></div>
            <div id="popWrapper_q8ve1atlpu" class="button "><span>∩</span></div>
            <div id="popWrapper_o60hh3goasp" class="button "><span>∪</span></div>
            <div id="popWrapper_ytckmx1p4tk" class="button "><span>÷</span></div>
            <div id="popWrapper_2131akj8rbn" class="button "><span>-</span></div>
            <div id="popWrapper_bcy1hzhtzbq" class="button "><span>⨯</span></div>
            <div id="popWrapper_jgzn81np8i" class="button "><span>⨝</span></div>
            <div id="popWrapper_99cz04sajcd" class="button "><span>⟕</span></div>
            <div id="popWrapper_wrwiiwklzc" class="button "><span>⟖</span></div>
            <div id="popWrapper_xzmnvtls6zk" class="button "><span>⟗</span></div>
            <div id="popWrapper_7lmq0e5lt2k" class="button "><span>⋉</span></div>
            <div id="popWrapper_h8t7el4tebi" class="button "><span>⋊</span></div>
            <div id="popWrapper_ntphproh2gh" class="button "><span>▷</span></div>
            <div id="popWrapper_aq5dkivxzhk" class="button "><span>=</span></div>
            <div id="popWrapper_r2u4dj6ind" class="button "><span>--</span></div>
            <div id="popWrapper_2znla6h967q" class="button "><span>/*</span></div>
            <div id="popWrapper_2aod06t35hu" class="button "><span>{}</span></div>

            <div id="popWrapper_ieljbcakzad" class="button ">
                <span>
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="calendar-alt" class="svg-inline--fa fa-calendar-alt " role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                        <path fill="currentColor" d="M0 464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V192H0v272zm320-196c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM192 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12h-40c-6.6 0-12-5.4-12-12v-40zM64 268c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zm0 128c0-6.6 5.4-12 12-12h40c6.6 0 12 5.4 12 12v40c0 6.6-5.4 12-12 12H76c-6.6 0-12-5.4-12-12v-40zM400 64h-48V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H160V16c0-8.8-7.2-16-16-16h-32c-8.8 0-16 7.2-16 16v48H48C21.5 64 0 85.5 0 112v48h448v-48c0-26.5-21.5-48-48-48z">
                        </path>
                    </svg>
                </span>
            </div>
        </div>
    </div>

    {{! This is what CodeMirror takes to create the Code editor}}
    <textarea id="RelaXEditor" name="RelaXEditor"></textarea>
    <div id="relaxInput">{{relaxInput}}</div>
    </div>
    <div id="execute" type="button" class="btn btn-primary exec-button selection">Execute</div>
    <div id="outputContainer">
        <div id="error" class="error"></div>
        <div id="outputContainer" class="flex-container">
            <div id="tree">tree</div>   
            <pre id="output">Test execution will be displayed here</pre>
        </div>
    </div>
</div> 
<!-- End of File -->
