

#execute.button {
	color: white;
	background-color: #007bff;
	border: 1px solid #222;
	border-radius: 3px;
	padding: 7px;
	margin-right: 5px;
	transition: .3s;
	font-family: ubuntu, sans-serif;
	font-size: 1em;
}

#execute.button:active {
	background-color: #0062cc;
    border-color: #005cbf;
}

.button:hover, button:focus {
	cursor: pointer;
}

#execute {
	margin-top: 5px;;
	width: 10%;
	min-width:100px;
	text-align: center;
}

.CodeMirror {
  border: 1px solid #222;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.error {
	color:red;
	transition:.5s;
	overflow:hidden;
	margin: 15px;
}

#output {
	overflow: auto;
}

/* table {
	width:auto;
	margin:auto;
	border:1px solid black;
 	border-collapse:collapse;
 	margin-bottom:10px;
}

th, td {
	border:1px solid #777;
} */

#db-schema {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-evenly;
	border: 2px solid black;
	margin: 1em 0 1em 0;
	text-align: center;
}

#db-init{
	display: none;
}


/* #db-schema > table {
	margin: 0;
	border: 1px solid black;
	width: 200px; 
	box-sizing: border-box; 
	margin: 1em 0 1em 0; 
	text-align: center;
}  */