<div id="question">
    {{questionText}}
</div>

<br>

<div id="ddl-input">

    <label for='commands'>Enter some SQL</label>
    <br>
  
    <textarea id="commands">
    </textarea>
  
      <div id="execute" class="button">Execute</div>
      
      <div id="error" class="error"></div>
  
      <pre id="output">Results will be displayed here</pre>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/sql/sql.min.js"></script>
    

</div>