<div>
  {{ questionString }}
</div>
<br>
<div class="expectedOutput">
<p>Expected Output:</p>
{{ expectedOutput }}
</div>

<div id="db-schema">
  Database schema will be displayed here once tables have been created.
</div>

<div id="sql-input">

    <label for='commands'>Enter some SQL</label>
    <br>
  
    <textarea id="commands" name="SQLEditor" type="text">{{submitted_answers.SQLEditor}}</textarea>
  
      <div id="execute" class="button">Execute</div>
      
      <div id="error" class="error"></div>
  
      <pre id="output">Results will be displayed here
      </pre>

      <div id="db-init">
        {{db_initialize}}
      </div>

      <div id="previousSubmission">
        {{previousSubmission}}
      </div>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/mode/sql/sql.min.js"></script>
    

</div>